:root {
  --primary: #ffc011;
  --bg-color: #fff;
}

.program-kami .title-program-kami {
  padding-top: 7rem;
}
.program-kami .title-program-kami span {
  color: var(--primary);
}
.program-kami .mySwiper,
.program-kami .mySwiper2 {
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.program-kami .mySwiper .swiper-wrapper,
.program-kami .mySwiper2 .swiper-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.program-kami .mySwiper .swiper-wrapper .swiper-slide,
.program-kami .mySwiper2 .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.program-kami .mySwiper .swiper-wrapper .swiper-slide .menu-card,
.program-kami .mySwiper2 .swiper-wrapper .swiper-slide .menu-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.program-kami .mySwiper .swiper-wrapper .swiper-slide .menu-card img,
.program-kami .mySwiper2 .swiper-wrapper .swiper-slide .menu-card img {
  object-fit: cover;
  width: 100%;
  max-width: 32rem;
  height: 22rem;
  border-radius: 3%;
  border: 2px solid #ffc011;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.program-kami h2 {
  font-size: 2.6rem;
  margin-bottom: 3rem;
  text-align: center;
}
.program-kami .content {
  margin: 0 2rem 0 2rem;
  padding: 1.5rem;
}
.program-kami .content h2 {
  color: var(--primary);
  margin: 0 2rem 3rem 2rem;
}
.program-kami .content p {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3rem;
}

.sec-pembina .div-pembina {
  background-color: #ffc011;
  text-align: center;
  padding: 5rem;
}
.sec-pembina .div-pembina .icon-pembina {
  width: 6rem;
  height: 6rem;
  padding-bottom: 0%;
}
.sec-pembina .div-pembina h2 {
  padding-top: 0%;
}
.sec-pembina .div-pembina .pembina {
  display: flex;
  /* display: inline-block; */
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5rem;
}
.sec-pembina .div-pembina .pembina img {
  width: 50%;
  height: auto;
  margin: 3rem 1rem 1rem;
}
.sec-pembina .div-pembina .pembina h3 {
  margin-top: 2rem;
}

.embed-vid-yt {
  display: flex;
  justify-content: center;
  margin: 3rem 5rem;
}

.pendaftaran {
  padding: 7rem 5% 1.4rem;
  align-items: center;
  background-color: #ffc011;
}
.pendaftaran h2 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
  text-align: center;
}
.pendaftaran h2 span {
  color: #fff;
}
.pendaftaran .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 3rem;
}
.pendaftaran .row .btn-pendaftaran {
  box-shadow: inset 0px 2px 0px 0px #000000;
  background: linear-gradient(to bottom, #1a1d4e 5%, #7579a8 100%);
  background-color: #1a1d4e;
  border-radius: 14px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  padding: 25px 100px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5e5e5e;
}
.pendaftaran .row .btn-pendaftaran:hover {
  background: linear-gradient(to bottom, #7579a8 5%, #1a1d4e 100%);
  background-color: #7579a8;
}
.pendaftaran .row .btn-pendaftaran:active {
  position: relative;
  top: 1px;
}

.kontak-kami {
  padding-top: 7rem;
}
.kontak-kami h2 {
  font-size: 2.6rem;
  margin-bottom: 3rem;
  text-align: center;
}
.kontak-kami p {
  font-size: medium;
  text-align: center;
  margin-bottom: 0.8rem;
}
.kontak-kami .konten-kontak {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 2%;
}
.kontak-kami .konten-kontak h3 {
  font-size: 13px;
  margin-left: 2rem;
  margin-right: 1rem;
}
.kontak-kami .row {
  display: flex;
  margin-top: 2rem;
  background-color: #1a1d4e;
}
.kontak-kami .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
  /* padding-right: 3rem; */
}
.kontak-kami .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
  color: var(--primary);
}
.kontak-kami .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: #fff;
  border: 1px solid #ffc011;
  padding-right: 3rem;
  padding-left: 3rem;
}
.kontak-kami .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7;
  background: none;
}
.kontak-kami .row form .btn-sbmt {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
}

.footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0rem;
  padding-bottom: 3rem;
  margin-top: 3rem;
}
.footer .socials {
  padding: 1rem 0rem;
}
.footer .socials a {
  color: #fff;
  margin: 1rem;
}
.footer .socials a :hover {
  transform: scale(1.5);
  color: #1a1d4e;
  transition: 0.3s;
  transition-delay: 0.1s;
}
.footer .links {
  margin-bottom: 1.4rem;
}
.footer .links a {
  color: #ffffff;
  padding: 0.7rem 1rem;
}
.footer .links a :hover {
  transform: scale(1.5);
  color: #1a1d4e;
  transition: 0.3s;
  transition-delay: 0.1s;
}
.footer .credits {
  font-size: 1.2rem;
  color: #fff;
}
.footer .credits a {
  color: #1a1d4e;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
